<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мониторинг датчиков{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Дорогино</a>
            <div class="navbar-nav ms-auto">
                <a class="nav-link {% if request.endpoint == 'index' %}active{% endif %}" href="{{ url_for('index') }}">Последние данные</a>
                <a class="nav-link {% if request.endpoint == 'charts' %}active{% endif %}" href="{{ url_for('charts') }}">Графики</a>
                <a class="nav-link {% if request.endpoint == 'flex_chart' %}active{% endif %}" href="{{ url_for('flex_chart') }}">Гибкий график</a>
                <a class="nav-link {% if request.endpoint == 'monitoring' %}active{% endif %}" href="{{ url_for('monitoring') }}">Мониторинг</a>
                <a class="nav-link {% if request.endpoint == 'kiln_stats' %}active{% endif %}" href="{{ url_for('kiln_stats') }}">Статистика печи</a>
                <a class="nav-link {% if request.endpoint == 'workshop_diagram' %}active{% endif %}" href="{{ url_for('workshop_diagram') }}">Схема цеха</a>
                {% if is_admin %}
                    <a class="nav-link {% if request.endpoint == 'settings' %}active{% endif %}" href="{{ url_for('settings') }}">Настройки</a>
                    <a class="nav-link {% if request.endpoint == 'sensor-locations' %}active{% endif %}" href="{{ url_for(''manage_sensor_locations'') }}">Данные по датчикам</a>
                    <a class="nav-link" href="{{ url_for('logout') }}">Выход</a>

                {% else %}
                    <a class="nav-link" href="{{ url_for('login') }}">Админка</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>